body{
    background-image: linear-gradient(to bottom right, #e6e3f9, #f9e5ee);
}
.header-1{
    padding:36.5px 165px;
    display:flex;
    justify-content: space-between;
}
.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.a-navbar{
    font-size: 14px;
    padding: 40px 32px;
    color: #222831;

}
.form_login-sign{
    display:flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
}
.login{
    padding:16px 0px;
    font-size: 14px;

    
}
.sign{
    padding:16px 0px;
    font-size: 14px;
    background: #5D50C6;
    border-radius: 25px;


}
.a-login{
    padding:16px 32px;
    color:#222831;
}
.a-sign{
    padding:16px 32px;
    color:white;
}
.midde-1{
    padding:64px 76px 32px 165px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.left-explore{
    display:flex;
    justify-content: center;
    align-items: center;
    width:52%
}
.left-explore p{
    padding:19.5px 8px 19.5px 32px;
    font-size: 14px;
    color:#F85E9F;
}
.img-explore{
    padding:19.5px 32px 19.5px 8px;
}
.left-explore{
    background:#FFFFFF;
    border-radius: 35px;
}
.travel-top p{
    font-size: 69px;
    font-family: Circular Std;
    line-height: 82.8px;
    padding-top: 43px;
}
.button-get{
    background: rgba(93, 80, 198);
    padding: 16px 32px;
    border-radius: 30px;
    cursor: pointer;
}
.button_header_1{
    display:flex;
    justify-content: space-between;
    padding-top: 43px;
}
.button_header_1 strong{
    color:#FFFFFF;
    font-size: 14px;
    line-height: 16.8px;
    padding:16px 32px;
}
.button-watch{
    background:white;
    padding: 16px 32px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.button-watch p{
    color:rgba(34, 40, 49, 1);
    padding-right: 25px; 
}
.img-watch{
    padding-right: 8px;
    margin-left: 5px;
}
.landing-2{
    padding:0 165px 64px 165px;
}
.header-2{
    display:flex;
    justify-content: space-between;
    padding-bottom: 0 0 165px 64px
}
.header-2 img{
    padding:64px 0 64px 0
}
.midde2-left p{
    font-size: 44px;
    color:rgba(25, 24, 37, 1);
    line-height: 52.8px;
}
.midde-2{
    display:flex;
    justify-content: space-between;
}
.midde2-left{
    display:flex;
    align-items: center;
    margin-top: -75px;
}
.midde2-left span{
    color:rgba(248, 94, 159, 1);
    font-size: 23px; 
    line-height: 27.6px;
}
.header-3{
    padding: 65.5px 165px 65.5px 165px;
    display:flex;
    justify-content: space-between;
}
.header3-left p{
    font-size: 44px;
    line-height: 52.8px;
}
.header3-left span{
    color:rgba(248, 94, 159, 1);
    font-size: 23px;
    line-height: 27.6px;
}
.header3-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.direction-left button{
    background:rgba(255, 255, 255, 1);
    border:1px solid rgba(25, 24, 37, 0.1);
    border-radius: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.direction-right{
    padding-left:16px;
}
.direction-left{
    padding-right:16px
}
.direction-right button{
    background:rgba(93, 80, 198, 1);
    border-radius: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border:none;
}
.midde-3{
    padding:0 165px;
    display:flex;
    justify-content: space-between;
    column-gap: 32px;
}
.midde3-beach{
    flex-grow: 1;
}
.midde3-beach img{
    width:100%;
    display: block;
}
.midde3-fish{
    flex-grow: 1;
}
.midde3-fish img{
    width:100%;
    display: block;
}
.midde3-mountain{
    flex-grow: 1;
}
.midde3-mountain img{
    width:100%;
    display: block;
}
.midde1-left{
    margin-top: 80px;
}
.p-midde1-left{
    font-size: 26px;
    line-height: 35px;
    color: rgba(25, 24, 37, 0.5);
    padding-top: 43px;
}
.text-line1{
    display:flex;
    justify-content: space-between;
    padding:32px 32px 8px 32px;
    color:rgba(25, 24, 37, 1);
    font-size: 23px;
    line-height: 27.6px;
}
.text-line1 span{
    color:#F85E9F;
}
.information{
    background:#FFFFFF;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}
.text-line2{
    padding:8px 32px 16px 32px;
    font-size: 18px;
    color:rgba(25, 24, 37, 0.75);
    line-height: 27.6px;
}
.text-line3{
    display:flex;
    color:rgba(255, 87, 34, 1);
    font-size: 23px;
    line-height: 27.6px;
    padding:16px 0 32px 32px
}
.text-line3 p{
    padding-right:4px;
    margin-top: 1px;
}
.text-line3 img{
    width:24px;
    height:24px;
    padding:2px 0 2px 4px
}
.landing-4{
    padding:128px 163px 0 0 ;
    display:flex;
    justify-content: space-between;
}
.landing-4_left{
    padding-right:21px;
}
.landing-4_right{
    padding-left:21px
}
.landing-4-right_top{
    padding-bottom: 32px;
}
.landing-4_top-line1{
    color:rgba(248, 94, 159, 1);
    font-size: 23px;
    line-height: 27.6px;
    padding-top:14.84px;
    padding-bottom: 8px;
}
.landing-4_top-line2{
    color:rgba(25, 24, 37, 1);
    font-size: 44px;
    line-height: 52.8px;
    padding:8px 16px 16px 0
}
.landing-4_top-line3{
    color:rgba(25, 24, 37, 0.5);
    line-height: 28.8px;
    font-size: 18px;
    padding:16px 0 0 0 
}
.landing-4-right-bottom{
    display: grid;
    grid-template-columns: auto auto;
    padding-top:32px;
    column-gap: 32px;
    row-gap: 32px;
}
.bottom-line1{
    color:rgba(255, 87, 34, 1);
    line-height: 42px;
    font-size: 35px;
}
.bottom-line2{
    color:rgba(25, 24, 37, 1);
    font-size: 18px;
    line-height: 28.8px;
}
.landing-4-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:32px;
    border:1px solid rgba(25, 24, 37, 0.1);
    background:rgba(255, 255, 255, 1);
    border-radius: 32px;
}